<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pl.multitalk.android"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:name=".model.MultitalkApplication" >
        
        <!-- głowny ekran - logowanie -->
        <activity android:name=".StartActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="pl.multitalk.android.Start" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <!-- ekran listy kontaktów -->
        <activity android:name=".ContactListActivity"
                  android:label="@string/contactListAcivity_title"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="pl.multitalk.android.ContactList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <!-- ekran rozmowy -->
        <activity android:name=".ConversationActivity"
                  android:label="@string/conversationActivity_title">
            <intent-filter>
                <action android:name="pl.multitalk.android.Conversation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>


    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest> 